{% extends 'base.html' %}
{% load static %}


    {% block extra_head %}
                <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    {% endblock extra_head %}


    {% block content %}

            <h1>42 Coffee Cups Test Assignment</h1>


            {% if not info.name %}<h3 id="nodata">{{ info }}</h3>{% endif %}



            <div class="block">
                <p>{{ info.name }}</p>
                <p>{{ info.surname }}</p>
                <p>{{ info.dob }}</p>
            </div>

            <div class="block align-right">
                <p>Contacts</p>
                <p>Email: {{ info.email }}</p>
                <p>Jabber: {{ info.jabber }}</p>
                <p>Skype: {{ info.skype }}</p>
            </div>

            <div class="block">
                <p>Biography:</p>
                <div class="info_text">{{ info.bio|linebreaks }}</div>
            </div>

            <div class="block">
                <p>Other Contacts:</p>
                <div class="info_text">{{ info.other|linebreaks }}</div>
            </div>

        {% endblock content %}