{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ title }}{% endblock title %} | Test Site</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% block content %}

            <h1>42 Coffee Cups Test Assignment</h1>

            <div class="block">
                <p>Name: {{ info.name }}</p>
                <p>Last Name: {{ info.surname }}</p>
                <p>Date of Birth: {{ info.dob }}</p>
            </div>

            <div class="block align-right">
                <p>Contacts</p>
                <p>Email: {{ info.email }}</p>
                <p>Jabber: {{ info.jabber }}</p>
                <p>Skype: {{ info.skype }}</p>
            </div>

            <div class="block">
                <p>Biography:</p>
                <p>{{ info.bio }}</p>
            </div>

            <div class="block">
                <p>Other Contacts:</p>
                <p>{{ info.other }}</p>
            </div>

        {% endblock content %}
    </body>
</html>
